body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-muted {
    color: gray;
}

.overflow-hidden {
    overflow: hidden;
}

.thumbnail {
    width: 100%;
    height: 100%;
}

.h-55px {
    height: 55px;
}

.pl-2 {
    padding-left: 20px;
}

.pr-1 {
    padding-right: 10px
}

.pr-2 {
    padding-right: 20px
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-100 {
    width: 100%;
}

.wrapper {
    background-color: white;
    padding-top: 30px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    min-width: 420px;
}